In [1]:
from src.parser_files import get_letters
import numpy as np
from src.plots import *
import pandas as pd
import itertools

letters = get_letters("data/letters.txt")

letters_dict = {}
current_letter = 65
for letter in letters:
    letters_dict[chr(current_letter)] = letter
    current_letter += 1

all_groups = list(itertools.combinations(letters_dict.keys(), r=4))
avg_dot_product = []
max_dot_product = []

for i in range(len(all_groups)):
    group = np.array([v for k,v in letters_dict.items() if k in all_groups[i]])
    orto_matrix = group.dot(group.T)
    np.fill_diagonal(orto_matrix, 0)
    #print(f'{all_groups[i]}\n{orto_matrix}\n-------------------------------------')
    row, _ = orto_matrix.shape
    avg_dot_product.append((np.abs(orto_matrix).sum() / (orto_matrix.size - row), all_groups[i]))
    max_v = np.abs(orto_matrix).max()
    max_dot_product.append(((max_v, np.count_nonzero(np.abs(orto_matrix) == max_v) / 2), all_groups[i]))

df = pd.DataFrame(sorted(avg_dot_product), columns=["|<,>| medio", "grupo"])
df.head(15).style.format({'|<,>| medio': "{:.2f}"}).hide(axis='index')

In [2]:
df.tail(15).style.format({'|<,>| medio': "{:.2f}"}).hide(axis='index')

In [3]:
df2 = pd.DataFrame(sorted(max_dot_product), columns=["|<,>| max", "grupo"])
df2.head(15).style.format({'|<,>| max': lambda x: 'max: {:,.0f} | count: {:,.0f}'.format(*x)}).hide(axis='index')

In [4]:
df3 = df2.merge(df)
df3 = df3[['|<,>| max', '|<,>| medio', 'grupo']]
df3.head(10).style.format({'|<,>| max': lambda x: 'max: {:,.0f} | count: {:,.0f}'.format(*x), '|<,>| medio': "{:.2f}"}).hide(axis='index')

In [5]:
df3.tail(10).style.format({'|<,>| max': lambda x: 'max: {:,.0f} | count: {:,.0f}'.format(*x), '|<,>| medio': "{:.2f}"}).hide(axis='index')